.DS_Store
dist/
dist.meta
*.tgz
.idea/
.vscode/
TestResults/
TestResults.meta
TestProject~/Library/
TestProject~/Temp/
TestProject~/Logs/
TestProject~/UserSettings/
TestProject~/Assets/*
!TestProject~/Assets/Editor/
!TestProject~/Assets/Editor/**
!TestProject~/Assets/README.md
!TestProject~/Assets/README.md.meta
TestProject~/Packages/*.meta
TestProject~/ProjectSettings/*.meta
TestProject~/ProjectSettings/PackageManagerSettings.asset
TestProject~/TestResults.xml
TestProject~/PlayModeResults.xml
TestProject~/*.log
TestProject~/Assets/StreamingAssets/
TestProject~/Assets/StreamingAssets.meta
TestProject~/Assets/QA/
TestProject~/Assets/QA.meta
