TestProject~/
Tests/
Tests.meta
.gitignore
Scripts/
Scripts.meta
.github/
.editorconfig
.gitattributes
dist/
dist.meta
CONTRIBUTING.md*
CODE_OF_CONDUCT.md*
SECURITY.md*
SUPPORT.md*
PUBLICATION_IDENTIFIERS.json*
.zenodo.json
codemeta.json*
CITATION.cff*
